{% extends "managebase.html" %}
{% load comments %}
{% block top%}

{% if requestlist %}

{% for req in requestlist %}


{% get_comment_count for lesson.teacher_request req.id as comment_count %}
{% get_comment_list for lesson.teacher_request req.id  as comment_list %}

{{req.teacher     }}说：<br/>
<a href='/manage/reply/{{req.id}}'>{{req.contents      }} </a>
{{req.time 	}}<br/>

{% for comment in comment_list %}
Reply:
	<div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
		<span class="comnum"><a id="c{{ comment.id }}" href="#c{{ comment.id }}"></a></span>
		<p><b>{{ comment.person_name|escape }}</b> :  {{ comment.submit_date|date:"Y/m/j" }} at {{ comment.submit_date|date:"P" }}:</p>
		{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
		
	</div>
{% endfor %}


<br>
{% endfor %}

{%endif%}

{% endblock %}